{% extends "layout.njk" %}

{% block content %}
<div id="wrapper">
    <img src="https://img.quizur.com/f/img5defa239740149.82595772.jpg?lastEdited=1575985727" alt="Amigos">
    <h1>Amizade verdadeira.</h1>
    <h2>A amizade é um dos maiores presentes que podemos ter.</h2>
    <p>Amigos ajudando uns aos outros e com trabalho em equipe tentando alcançar o topo das montanhas.</p>
</div>
{% endblock %}