<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luiz Paulo</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="links">
            <a href="index.html">Sobre</a>
            <a href="familia.html">Família</a>
            <a href="amigos.html">Amigos</a>
        </div>
    </header>

    {% block content %}{% endblock %}
</body>

</html>